<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNmoW9Ult5dH2jz5X6hV-aOkR3ve3YUU8</string>
	<key>GCM_SENDER_ID</key>
	<string>473271336583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseStorageApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-storageapp-224d3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storageapp-224d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473271336583:ios:a37d9f9372d9501d47c222</string>
</dict>
</plist>